@media (min-width: 1400px) {
	.air-header .navbar .search-outer {
		min-width: 620px;
	}
}

@media (max-width: 1199.98px) {
	.dashboard-main .sidebar:not(.collapsed) {
		width: 240px;
		padding: 12px 10px;
		min-width: 240px;
	}
	.chat-message {
		padding: 10px 20px; 
		max-width: 100%; 
		font-size: 15px;
	}
}

@media (max-width: 991.98px) {	
	.chat-list-outer {
		flex-basis: auto;
		width: 100%;
	}
	.chat-messages-outer,
	.mobileuserChatActivated .chat-list-outer {
		display: none;
	}

	.mobileuserChatActivated .chat-messages-outer {
		display: block;
	}
}

@media (max-width: 767.98px) {
	.passengerInfo-from .travelType input[type="radio"]+label {
		font-size: 16px; 
		line-height: 24px; 
		padding: 6px 16px; 
	}
	.ancillary-menu-outer .nav-pills .nav-link {
		font-size: 18px; 
		line-height: 28px;  
		padding: 5px 20px !important; 
	}

	.dashboard-outer .dashboard-card {
		padding: 8px;
	}
	.msg-input-area {  
		left: 8px;
		width: calc(100% - 16px);
	}
	.notification-content .notiDesc {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px; 
	}
	.notification-content .notiHeading {
		font-size: 17px; 
		line-height: 24px;
	}
	.notification-card .profile-img {
		min-width: 50px;
		min-height: 50px;
		min-width: 50px;
		min-height: 50px; 
	}
	.notifications-container {
		padding: 0px;
	}
	.notification-card {
		padding: 10px;
	}
	.btn-primary {
		font-size: 18px; 
		line-height: 29px; 
	}
}

@media (max-width: 575.98px) {
	.dashboard-main .sidebar {
		position: fixed;
		top: 0;
		width: 280px !important;
		z-index: 1;
	}

	.dashboard-main .sidebar:not(.collapsed) {
		display: none !important;
	}

	.dashboard-main .sidebar.collapsed {
		display: flex !important;
	}

	.dashboard-main .sidebar.collapsed .nav-link {
		justify-content: flex-start;
		gap: 8px;
	}

	.dashboard-main .sidebar.collapsed .nav-link span.link-text {
		display: block;
	}

	.notification-popup {
		border-radius: 28px !important;
		left: 0;
		position: fixed !important;
		margin: 0 20px;
	}
	.air-header .navbar .userImg, .air-header .navbar .flagImg {
		min-height: 24px;
		min-width: 24px;
		max-height: 24px;
		max-width: 24px;
	}

	.air-header .navbar .profileName {
		font-size: 12px;
	}
	.msg-input-area .btn-sendmsg {
		padding: 8px 16px; 
	}

	.profilepic-outer .profile-img  {
		margin: 0;
	}

	.profilepic-outer {
		padding: 15px 5px;
	}
	.allCrads-list input[type='radio']+label::after {
		height: 28px;
		width: 28px; 
	}
	.paymentDone-modal .modal-content {
		padding: 20px;
	}
}